* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	font-family: 'Lora', serif;
}

.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

.btn {
	padding: .5rem 1rem;
	color: black;
	background: transparent;
	border: 1px solid brown;
	border-radius: 5px;
	text-decoration: none;
	transition-duration: 0.5s;
}

.btn:hover{
	background: brown;
	color: white;
}

.text-input{
	padding: .3rem 1rem;
	display: block;
	width: 100%;
	border-radius: 5px;
	border: 1px solid brown;
	outline: none;
	color: brown;
	font-size: 15px;
	line-height: 1.5rem;
}

header{
	background: brown;
	height: 50px;
}

header * {
	color: white;
}

.logo a {
	text-decoration: none;
}

header .logo {
	float: left;
	height: inherit;
	margin-left: 2em;
}

header .logo-text {
	margin: 2px;
	font-family: 'Candal', sans-serif;
}

/*header .logo-text span {
	color: black;
}*/

header ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header ul li {
	float: left;
	position: relative;
}

header ul li ul {
	position: absolute;
	top: 46px;
	right: 0px;
	width: 100%;
	display: none;
}

header ul li:hover ul {
	display: block;
}

header ul li ul li {
	width: 100%;
	font-size: 15px;
	margin-left: 5px;
	background-color: white;
}

/*header ul li ul li: hover{
	background: blue;
}*/

header ul li ul li a {
	padding: 15px;
	color: black;
}

header ul li ul li a.logout {
	color: red;
}

header ul li a {
	display: block;
	padding: 10px;
	font-size: 1.1em;
	text-decoration: none;
	transition-duration: 0.5s;
}

header ul li a:hover {
	background: rgba(0, 0, 0, 0.7);
}

header .menu-toggle {
	display: none;
	border: none;
}

h2 > a {
	text-decoration: none;
	color: black;
}

h2 > a:hover {
	color: brown;
}

.fa {
	text-decoration: none;
	color: black;*/
	display: block;
	padding: 0px;
	margin-top: 0px;
}

.content {
	width: 90%;
	margin: 30px auto 30px;
}

.main-content {
	width: 70%;
	float: left;
}

.single {
	background: white;
	padding: 20px 50px;
	font-size: 15px;
	border-radius: 5px;
}

img {
	display: block;
	width: 40%;
	height: 100%;
	margin: 0px;
	float: left;
}

.post-title{
	text-align: center;
	margin-bottom: 50px;
}

.singlepost-image{
	width: 100%;
	margin-top: 10px;
}

p > a {
	color: brown;
	text-decoration: none;
}

.pieces {
	margin-bottom: 10px;
}

.content .main-content .post {
	width: 95%;
	height: 270px;
	margin: 20px auto;
	border-radius: 5px;
	background: white;
	box-shadow: 0 15px 30px rgba(0,0,0,0.3), 0 11px 8px rgba(0,0,0,0.22);
	position: relative;
}

.content .popular .post{
	border-top: 1px solid brown;
	margin-top: 10px;
	padding-top: 10px;
}

.content .popular .post img{
	height: 60px;
	width: 75px;
	float: left;
	margin-right: 10px;
}

.post a {
	color: black;
	text-decoration: none;
}

.post a:hover{
	color: brown;
}

.post a h4 {
	margin-top: -1px;
}

.post .read-more {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.recent-post-title {
	margin: 20px;
}

.post-preview {
	width: 60%;
	padding: 10px;
	float: right;
}

.preview-text {
	font-size: 15px;
}

.content .sidebar {
	width: 30%;
	float: left;
	height: 300px;
}

.single-1{
	padding: 0px 10px;
}

.content .sidebar .section {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 120%;
}

.search{
	margin-top: 80px;
}

.topics ul {
	margin-top: 14px;
	padding: 0px;
	list-style: none;
	border-top: 1px solid brown;
}

.topics ul li a {
	border-bottom: 1px solid brown;
	padding: 10px 0px 10px 0px;
	display: block;
	font-size: 15px;
	transition: all 0.5s;
}

.topics ul li a:hover{
	padding-left: 10px;
	transition: all 0.5s;
}

li > a {
	text-decoration: none;
	color: black;
}

li > a:hover {
	color: brown;
}






















footer {
	height: 50vh;
	color: #fff;
	background-color: #333;
	position: relative;
	font-size: 80%;
	margin-top: 70px;
}

.footer-copyright {
	width: 100%;
	height: 40px;
	background-color: #111;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.footer-body {
	margin-bottom: 40px;
	padding: 30px;
}

.footer-body > div:first-child {
	font-size: 150%;
}

.footer-body ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-body li > a {
	color: white;
	text-decoration: none;
	margin-bottom: 7px;
}

@media only screen and (max-width: 375px) {
	header {
		position: relative;
	}

	h1 {
		font-size: 20px;
	}

	header ul {
		width: 100%;
		background-color: brown;
		max-height: 0px;
		transition: height 1s;
		overflow: hidden;
	}

	.showing {
		max-height: 100em;
	}

	header ul li {
		width: 100%;
	}

	header ul li ul {
		position: static;
		width: 100%;
		display: block;
	}

	header ul li ul li {
		background-color: brown;
	}

	header ul li ul li a {
		padding: 10px;
		color: white;
		padding-left: 50px;
	}

	header .menu-toggle {
		/*background: transparent;*/
		border: none;
		display: block;
		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 1.5em;
	}

	header .logo {
		float: left;
		height: inherit;
		margin-left: .8em;
	}

	header .logo-text {
		margin: 9px;
		font-family: 'Candal', sans-serif;
	}

	.welcome {
		text-align: center;
		margin-top: 33%;
	}

	h3 {
		color: white;
		font-size: 20px;
	}

}